
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.main-container {
  padding: 0px 25px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.flipkart-items {
  display: flex;
  gap: 10px;
}
.flipkart {
  display: flex;
  background-color: #f0f0f0;
  border-radius: 10px;
  align-items: center;
  padding: 5px 10px;
  gap: 7px;
}
.location{
    display: flex;
    gap: 10px;
}
